@import "./vars.css";

.container {
  position: absolute;
  background: var(--bg-secondary-transparent);
  top: 90px;
  transform: translateX(-25%);
  width: 180px;
  border-radius: 8px;
  overflow: hidden;
  color: var(--text-primary);
  transition: height 1s ease;  
  animation: fade 0.25s;
  font-weight: 500;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.menu {
  width: 100%;
  padding: 1rem;
}

.item {
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 500ms;
  padding: 1rem;
}

.item:hover {
  background: var(--bg-secondary-light);
}

.icon-right {
  margin-left: auto;
}

.menu_enter_active {
  position: absolute;
  transform: translateX(-110%);
}
.menu_enter {
  transform: translateX(0%);
  transition: all 500ms ease;
  
}
.menu_exit {
  position: absolute;
}
.menu_exit_active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.s_menu_enter_active {
  position: absolute;
  transform: translateX(110%);
}

.s_menu_exit_active {
  transform: translateX(110%);
  transition: all 500ms ease;
}

@media (max-width: 600px) {
  .container {
    top: 100px;
    transform: translateX(-70%);
  }
}