@import "./vars.css";

* {
  padding: 0;
  box-sizing: border-box; 
  margin: 0;
}

body {
  background: var(--bg-primary);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#pseudo-body {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  font-family: var(--main-font);
  font-weight: 400;
}

.content {
  margin: 2rem 3rem;
}

button {
  border: none;
  outline: none;
}