@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  /* Colours */
  --primary: #ec612a;
  --secondary: #429488;
  --text-primary: #fff;
  --text-secondary: hsl(0, 0%, 75%);
  --bg-primary: #252528;
  --bg-secondary: #36363b;
  --bg-secondary-transparent: rgba(54, 54, 59, 0.75);
  --bg-secondary-light:#49494f;

  /* Fonts */
  --main-font: "Roboto", sans-serif;
}